@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Playlist Script";
		src: url(../public/assets/fonts/PlaylistScript/Playlist-Script.woff),
			url(../public/assets/fonts/PlaylistScript/Playlist-Script.woff2);

		font-display: swap;
	}
	@font-face {
		font-family: "Mali";
		src: url(../public/assets/fonts/Mali/Mali-Regular.woff), url(../public/assets/fonts/Mali/Mali-Regular.woff2);
	}
	.homepage-height {
		height: calc(100vh - 40px);
	}
	.img-width {
		width: 150%;
	}
	a {
		-webkit-tap-highlight-color: transparent;
	}
	.font-playscript {
		font-family: "Playlist Script";
	}
	.center-absolute-about-me {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -80%);
	}
}
